/*tables styles*/
table {
  background: ;
}
table thead th {
  color: white;
  background: #343a40;
}



#table-1 {
  background: red;
  position: absolute;
  top: 400px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}
/*tables styles end*/

/*TABLA DE BANDEJA DE ENTRADA*/
/*-------------------------------------*/
